<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Practice SQL with Pandas pt. 2


---

We've learned about relational databases and the language most use to query them, SQL.  

In this lab we are going to gain more practice converting information to a SQL DB, querying the data and then analyzing it with Python.

In [1]:
# Necessary Libraries
import pandas as pd
import sqlite3
from pandas.io import sql

#### 1.  Read in the EuroMart CSV Data.
- 'EuroMart-ListOfOrders.csv'
- 'EuroMart-OrderBreakdown.csv'
- 'EuroMart-SalesTargets.csv'

In [2]:
# Reading CSV to Dataframe
orders = pd.read_csv('./datasets/csv/EuroMart-ListOfOrders.csv', encoding = 'utf-8')
OBD =  pd.read_csv('./datasets/csv/EuroMart-OrderBreakdown.csv', encoding = 'utf-8')
sales_targets =  pd.read_csv('./datasets/csv/EuroMart-SalesTargets.csv', encoding = 'utf-8')

In [3]:
orders.head()

,Order ID,Order Date,Customer Name,City,Country,Region,Segment,Ship Date,Ship Mode,State
0,BN-2011-7407039,1/1/2011,Ruby Patel,Stockholm,Sweden,North,Home Office,1/5/2011,Economy Plus,Stockholm
1,AZ-2011-9050313,1/3/2011,Summer Hayward,Southport,United Kingdom,North,Consumer,1/7/2011,Economy,England
2,AZ-2011-6674300,1/4/2011,Devin Huddleston,Valence,France,Central,Consumer,1/8/2011,Economy,Auvergne-Rhône-Alpes
3,BN-2011-2819714,1/4/2011,Mary Parker,Birmingham,United Kingdom,North,Corporate,1/9/2011,Economy,England
4,AZ-2011-617423,1/5/2011,Daniel Burke,Echirolles,France,Central,Home Office,1/7/2011,Priority,Auvergne-Rhône-Alpes

In [4]:
OBD.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,BN-2011-7407039,"Enermax Note Cards, Premium",0.5,$45.00,-$26.00,3,Office Supplies,Paper
1,AZ-2011-9050313,"Dania Corner Shelving, Traditional",0.0,$854.00,$290.00,7,Furniture,Bookcases
2,AZ-2011-6674300,"Binney & Smith Sketch Pad, Easy-Erase",0.0,$140.00,$21.00,3,Office Supplies,Art
3,BN-2011-2819714,"Boston Markers, Easy-Erase",0.5,$27.00,-$22.00,2,Office Supplies,Art
4,BN-2011-2819714,"Eldon Folders, Single Width",0.5,$17.00,-$1.00,2,Office Supplies,Storage

In [5]:
sales_targets.head()

  Month of Order Date   Category      Target
0              Jan-11  Furniture  $10,000.00
1              Feb-11  Furniture  $10,100.00
2              Mar-11  Furniture  $10,300.00
3              Apr-11  Furniture  $10,400.00
4              May-11  Furniture  $10,500.00

#### 2. Rename columns to remove any spaces.

In [6]:
# Rename columns in orders dataframe
orders = orders.rename(columns={'Order ID': 'OrderID', 'Order Date': 'OrderDate', 'Customer Name': 'CustomerName', \
                      'Ship Date': 'ShipDate', 'Ship Mode': 'ShipMode'})
orders.head(1)

,OrderID,OrderDate,CustomerName,City,Country,Region,Segment,ShipDate,ShipMode,State
0,BN-2011-7407039,1/1/2011,Ruby Patel,Stockholm,Sweden,North,Home Office,1/5/2011,Economy Plus,Stockholm

In [7]:
# Rename columns in OBD dataframe
OBD = OBD.rename(columns={'Order ID': 'OrderID', 'Product Name': 'ProductName'})
OBD.head(1)

,OrderID,ProductName,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,BN-2011-7407039,"Enermax Note Cards, Premium",0.5,$45.00,-$26.00,3,Office Supplies,Paper

In [8]:
# Rename columns in sales_targets dataframe
sales_targets = sales_targets.rename(columns={'Month of Order Date': 'MonthOfOrderDate'})
sales_targets.head(1)

  MonthOfOrderDate   Category      Target
0           Jan-11  Furniture  $10,000.00

#### 3. Remove dollar signs from sales and profit columns in the order breakdown dataframe.

Convert the columns to float.

In [9]:
OBD.dtypes

OrderID          object
ProductName      object
Discount        float64
Sales            object
Profit           object
Quantity          int64
Category         object
Sub-Category     object
dtype: object

In [10]:
OBD['Sales'] = OBD['Sales'].map(lambda x: x.strip('$'))
OBD['Sales'] = OBD['Sales'].map(lambda x: float(x.replace(',','')))

OBD['Profit'] = OBD['Profit'].map(lambda x: x.replace('$',''))
OBD['Profit'] = OBD['Profit'].map(lambda x: float(x.replace(',','')))

OBD.dtypes

OrderID          object
ProductName      object
Discount        float64
Sales           float64
Profit          float64
Quantity          int64
Category         object
Sub-Category     object
dtype: object

#### 4. Create a SQL Database called 'EuroMart' and save the three dataframes as SQL tables.

In [11]:
# Establishing Local DB connection
db_connection = sqlite3.connect('./datasets/sql/EuroMart.db.sqlite')

In [12]:
# Convert dataframes into SQL databases
orders.to_sql(name='orders', con=db_connection, if_exists='replace', index=False)
OBD.to_sql(name='OBD', con=db_connection, if_exists='replace', index=False)
sales_targets.to_sql(name='sales_targets', con=db_connection, if_exists='replace', index=False)

#### 5. How many orders has each Customer placed?

In [13]:
sql.read_sql('SELECT CustomerName, \
COUNT(*) AS Total \
FROM orders \
GROUP BY CustomerName \
ORDER BY Total DESC', con=db_connection)

            CustomerName  Total
0           Jose Gambino     13
1           Kayla Tearle     12
2        Mark Washington     12
3          Aaron Bootman     11
4        Georgina Garner     11
5         Hayden Perkins     11
6            Jason Roger     11
7        Jessica Paramor     11
8         Lilly Le Grand     11
9            Lori Miller     11
10        Maya Pamphlett     11
11         Michael Myers     11
12        Patricia Smith     11
13          Rachel Tyler     11
14         Terence Welch     11
15   Alexandra Macdonald     10
16      Angie Massengill     10
17        Ashton Charles     10
18     Chelsea Bannister     10
19        Elijah Sodeman     10
20             Elise Ali     10
21          Eloise Sykes     10
22           Isaac David     10
23        Jasmine Slater     10
24         Katie Evenden     10
25            Kian Sykes     10
26       Michael Watkins     10
27           Ngoc Orozco     10
28           Owen Howell     10
29            Peter Daly     10
..                   ...    ...
762    Alexandra Mahmood      1
763          Anna Church      1
764      Audrey Prentice      1
765          Audry Smith      1
766      Bella Handfield      1
767       Bethany Powell      1
768         Charles Rice      1
769         Claire Dilke      1
770   Clifford Defreitas      1
771        Dakota Baynes      1
772        Dustin Thomas      1
773          Elliot Owen      1
774          Erin Wallis      1
775          Grace Brown      1
776        Hayden Weigel      1
777      Herbert Harrell      1
778      Imogen Smithies      1
779         Jack Maughan      1
780          James Brown      1
781          Jay Collier      1
782         Jodie Garner      1
783         Louie Bryant      1
784         Mason Porter      1
785            Max Baker      1
786     Patrick Atkinson      1
787        Pearl Summers      1
788         Shannon Lane      1
789       Stephanie Ewen      1
790         Tegan Savage      1
791      Tyler Whitehead      1

[792 rows x 2 columns]

> *If you're doubting your output check using Pandas*

In [14]:
# Get customer names
customers = sql.read_sql('SELECT CustomerName FROM orders', con=db_connection)

# Count values in list
customers['CustomerName'].value_counts()

Jose Gambino           13
Kayla Tearle           12
Mark Washington        12
Georgina Garner        11
Hayden Perkins         11
Lori Miller            11
Lilly Le Grand         11
Jessica Paramor        11
Jason Roger            11
Rachel Tyler           11
Michael Myers          11
Patricia Smith         11
Maya Pamphlett         11
Aaron Bootman          11
Terence Welch          11
Michael Watkins        10
Ngoc Orozco            10
Rory Jess              10
Philip Newsom          10
Chelsea Bannister      10
Jasmine Slater         10
Elise Ali              10
Robert Quick           10
Angie Massengill       10
Elijah Sodeman         10
Eloise Sykes           10
Katie Evenden          10
Kian Sykes             10
Peter Daly             10
Alexandra Macdonald    10
                       ..
Jay Collier             1
Erin Wallis             1
Grace Brown             1
Alexandra Mahmood       1
James Brown             1
Imogen Smithies         1
Claire Dilke            1
Patrick Atkinson        1
Herbert Harrell         1
Tyler Whitehead         1
Louie Bryant            1
Audrey Prentice         1
Bella Handfield         1
Bethany Powell          1
Elliot Owen             1
Dakota Baynes           1
Jack Maughan            1
Mason Porter            1
Clifford Defreitas      1
Hayden Weigel           1
Charles Rice            1
Pearl Summers           1
Tegan Savage            1
Audry Smith             1
Jodie Garner            1
Aaron Macrossan         1
Anna Church             1
Shannon Lane            1
Max Baker               1
Dustin Thomas           1
Name: CustomerName, Length: 792, dtype: int64

#### 6. Create a Query to return a table of only geographic features from the List of Orders Table.

In [15]:
sql.read_sql('SELECT City, Country, Region, State FROM orders', con=db_connection)

,City,Country,Region,State
0,Stockholm,Sweden,North,Stockholm
1,Southport,United Kingdom,North,England
2,Valence,France,Central,Auvergne-Rhône-Alpes
3,Birmingham,United Kingdom,North,England
4,Echirolles,France,Central,Auvergne-Rhône-Alpes
5,La Seyne-sur-Mer,France,Central,Provence-Alpes-Côte d'Azur
6,Toulouse,France,Central,Languedoc-Roussillon-Midi-Pyrénées
7,Genoa,Italy,South,Liguria
8,Vienna,Austria,Central,Vienna
9,Murcia,Spain,South,Murcia
10,Woking,United Kingdom,North,England
11,Lohne,Germany,Central,Lower Saxony
12,Leicester,United Kingdom,North,England
13,Sheffield,United Kingdom,North,England
14,Dordrecht,Netherlands,Central,South Holland
15,Gothenburg,Sweden,North,Västra Götaland
16,Vienna,Austria,Central,Vienna
17,Langen,Germany,Central,Lower Saxony
18,Copenhagen,Denmark,North,Hovedstaden
19,Gandia,Spain,South,Valenciana
20,Esbjerg,Denmark,North,South Denmark
21,Sesto San Giovanni,Italy,South,Lombardy
22,Trapani,Italy,South,Sicily
23,Villiers-sur-Marne,France,Central,Ile-de-France
24,Bielefeld,Germany,Central,North Rhine-Westphalia
25,Leuven,Belgium,Central,Flemish Brabant
26,Prato,Italy,South,Tuscany
27,Gela,Italy,South,Sicily
28,Bologna,Italy,South,Emilia-Romagna
29,Menden,Germany,Central,North Rhine-Westphalia
...,...,...,...,...
4087,Linz,Austria,Central,Upper Austria
4088,Lisbon,Portugal,South,Lisboa
4089,Ferrara,Italy,South,Emilia-Romagna
4090,Schwerin,Germany,Central,Mecklenburg-Vorpommern
4091,Stockholm,Sweden,North,Stockholm
4092,Harrow,United Kingdom,North,England
4093,Milan,Italy,South,Lombardy
4094,Stockholm,Sweden,North,Stockholm
4095,The Hague,Netherlands,Central,South Holland
4096,Wolverhampton,United Kingdom,North,England
4097,London,United Kingdom,North,England
4098,Champigny-sur-Marne,France,Central,Ile-de-France
4099,Pamplona,Spain,South,Navarra
4100,Oyonnax,France,Central,Auvergne-Rhône-Alpes
4101,Sarcelles,France,Central,Ile-de-France
4102,Haarlem,Netherlands,Central,North Holland
4103,Stockholm,Sweden,North,Stockholm
4104,Dublin,Ireland,North,Dublin
4105,Plymouth,United Kingdom,North,England
4106,Munich,Germany,Central,Bavaria
4107,Edinburgh,United Kingdom,North,Scotland
4108,Naples,Italy,South,Campania
4109,Basel,Switzerland,Central,Basel-Stadt
4110,The Hague,Netherlands,Central,South Holland
4111,Caen,France,Central,Normandy
4112,Bielefeld,Germany,Central,North Rhine-Westphalia
4113,Maidenhead,United Kingdom,North,England
4114,Worcester,United Kingdom,North,England
4115,Hamburg,Germany,Central,Hamburg
4116,Eindhoven,Netherlands,Central,North Brabant

#### 7. Create a Query to return a table with all of the orders that had a negative profit from the Order Breakdown Table.

In [16]:
sql.read_sql('SELECT * FROM OBD WHERE Profit < 0', con=db_connection).head()

,OrderID,ProductName,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,BN-2011-7407039,"Enermax Note Cards, Premium",0.5,45.0,-26.0,3,Office Supplies,Paper
1,BN-2011-2819714,"Boston Markers, Easy-Erase",0.5,27.0,-22.0,2,Office Supplies,Art
2,BN-2011-2819714,"Eldon Folders, Single Width",0.5,17.0,-1.0,2,Office Supplies,Storage
3,BN-2011-3248724,"Ikea Classic Bookcase, Metal",0.6,987.0,-1012.0,6,Furniture,Bookcases
4,BN-2011-3248724,"Binney & Smith Sketch Pad, Blue",0.5,116.0,-56.0,5,Office Supplies,Art

#### 8. Construct a query to return a table with the Customer Name and Product Name.  

> **Note:** This will require a join!

In [17]:
sql.read_sql('SELECT orders."OrderID", orders."CustomerName", OBD."ProductName" \
FROM orders \
INNER JOIN OBD \
ON orders."OrderID" = OBD."OrderID"', con=db_connection)

,OrderID,CustomerName,ProductName
0,BN-2011-7407039,Ruby Patel,"Enermax Note Cards, Premium"
1,AZ-2011-9050313,Summer Hayward,"Dania Corner Shelving, Traditional"
2,AZ-2011-6674300,Devin Huddleston,"Binney & Smith Sketch Pad, Easy-Erase"
3,BN-2011-2819714,Mary Parker,"Boston Markers, Easy-Erase"
4,BN-2011-2819714,Mary Parker,"Eldon Folders, Single Width"
5,AZ-2011-617423,Daniel Burke,"Binney & Smith Pencil Sharpener, Water Color"
6,AZ-2011-617423,Daniel Burke,"Sanford Canvas, Fluorescent"
7,AZ-2011-2918397,Fredrick Beveridge,"Accos Thumb Tacks, Assorted Sizes"
8,AZ-2011-2918397,Fredrick Beveridge,"Bush Floating Shelf Set, Pine"
9,AZ-2011-2918397,Fredrick Beveridge,"Smead Lockers, Industrial"
10,BN-2011-3248724,Archer Hort,"Binney & Smith Sketch Pad, Blue"
11,BN-2011-3248724,Archer Hort,"Ikea Classic Bookcase, Metal"
12,AZ-2011-6712797,Evie Flockhart,"Ibico Hole Reinforcements, Recycled"
13,AZ-2011-4827146,Faith Greenwood,"Boston Canvas, Fluorescent"
14,AZ-2011-4827146,Faith Greenwood,"Smead Trays, Single Width"
15,AZ-2011-6439906,Summer Hayward,"Bevis Training Table, with Bottom Storage"
16,AZ-2011-6439906,Summer Hayward,"Novimex File Folder Labels, Alphabetical"
17,AZ-2011-7053593,Gracie Powell,"Binney & Smith Canvas, Blue"
18,AZ-2011-7053593,Gracie Powell,"SAFCO Executive Leather Armchair, Red"
19,AZ-2011-5702370,Hershel Snyder,"Binney & Smith Canvas, Blue"
20,AZ-2011-5702370,Hershel Snyder,"Epson Printer, White"
21,AZ-2011-5702370,Hershel Snyder,"Ibico Index Tab, Clear"
22,AZ-2011-5702370,Hershel Snyder,"Ikea Stackable Bookrack, Traditional"
23,AZ-2011-9927716,Julia Martell,"Hon Chairmat, Adjustable"
24,AZ-2011-2222024,Viola Watson,"Green Bar Note Cards, Multicolor"
25,BN-2011-4913858,Julian Dobie,"Green Bar Cards & Envelopes, Multicolor"
26,BN-2011-4913858,Julian Dobie,"Harbour Creations Legal Exhibit Labels, Laser ..."
27,BN-2011-4913858,Julian Dobie,"Smead Lockers, Blue"
28,BN-2011-4913858,Julian Dobie,"Wilson Jones Hole Reinforcements, Durable"
29,BN-2011-2807470,Rose Heap,"Sanford Pens, Fluorescent"
...,...,...,...
8017,AZ-2014-6752912,Lauren Saunders,"Lesro Round Table, Rectangular"
8018,AZ-2014-6752912,Lauren Saunders,"Motorola Signal Booster, with Caller ID"
8019,AZ-2014-6752912,Lauren Saunders,"Xerox Cards & Envelopes, Multicolor"
8020,AZ-2014-8026360,Darcy Farnell,"Deflect-O Clock, Durable"
8021,AZ-2014-8026360,Darcy Farnell,"Epson Inkjet, Wireless"
8022,AZ-2014-8026360,Darcy Farnell,"Panasonic Card Printer, Durable"
8023,BN-2014-5301206,Jay Collier,"Novimex Rocking Chair, Black"
8024,BN-2014-4912801,Rachel Morton,"BIC Pens, Fluorescent"
8025,BN-2014-4912801,Rachel Morton,"Sanford Highlighters, Blue"
8026,BN-2014-3913645,Mark Washington,"Avery 3-Hole Punch, Economy"
8027,BN-2014-3913645,Mark Washington,"Sharp Ink, Laser"
8028,BN-2014-3913645,Mark Washington,"Stanley Canvas, Blue"
8029,AZ-2014-8007090,Mary Saterfiel,"Fellowes Box, Single Width"
8030,AZ-2014-5047236,Alexis O'Flaherty,"Rubbermaid Door Stop, Erganomic"
8031,AZ-2014-157670,Max Ludwig,"Office Star Chairmat, Adjustable"
8032,AZ-2014-436448,Georgia Arundale,"Acco Binder, Economy"
8033,AZ-2014-3870231,Thomas Thompson,"Canon Fax and Copier, Laser"
8034,AZ-2014-3870231,Thomas Thompson,"Kleencut Ruler, Easy Grip"
8035,AZ-2014-3870231,Thomas Thompson,"Nokia Headset, with Caller ID"
8036,AZ-2014-3870231,Thomas Thompson,"Sanford Canvas, Blue"
8037,BN-2014-8679573,Dennis Conaway,"Cuisinart Blender, Silver"
8038,AZ-2014-4217323,Evie Morton,"Fellowes Lockers, Wire Frame"
8039,AZ-2014-8174835,Eloise Sykes,"Kleencut Shears, Serrated"
8040,AZ-2014-766953,Jose Gambino,"Ikea Stackable Bookrack, Traditional"
8041,AZ-2014-766953,Jose Gambino,"Motorola Audio Dock, VoIP"
8042,AZ-2014-1412225,Leon Barnes,"Fellowes Shelving, Single Width"
8043,AZ-2014-7604524,Rebecca Chamberlain,"Wilson Jones Index Tab, Economy"
8044,BN-2014-4140795,Daniel Hamilton,"Avery Binder Covers, Recycled"
8045,BN-2014-4140795,Daniel Hamilton,"BIC Pencil Sharpener, Fluorescent"
8046,BN-2014-4140795,Daniel Hamilton,"StarTech Phone, Red"

#### 9.  How many orders for "Office Supplies" (Category) has Sweden made?

> **Note:** from this point on you'll probably be combining SQL and Pandas, in that you would use SQL querys to gather the relevant information and use Pandas to analyze it.

In [18]:
sweden_offsupp = sql.read_sql('SELECT orders."OrderID", orders."Country", OBD."Category" \
FROM orders \
LEFT JOIN OBD \
ON orders."OrderID" = OBD."OrderID" \
WHERE orders."Country" = "Sweden" and OBD."Category" = "Office Supplies"', con=db_connection)

sweden_offsupp.count()

OrderID     133
Country     133
Category    133
dtype: int64

#### 10. What was the total sales for products that have been discounted?

In [20]:
sales_disc = sql.read_sql('SELECT Discount, Sales FROM OBD WHERE Discount > 0', con=db_connection)
sales_disc['Sales'].sum()

1115614.0

#### 11. What is the total quantity of objects sold for each country?

In [23]:
quant_country = sql.read_sql('SELECT OBD."Quantity", orders."Country" \
FROM orders \
INNER JOIN OBD \
ON OBD."OrderID" = orders."OrderID"', con=db_connection)

quant_country.groupby('Country').sum()

                Quantity
Country
Austria              973
Belgium              532
Denmark              204
Finland              201
France              7329
Germany             6179
Ireland              392
Italy               3612
Netherlands         1526
Norway               261
Portugal             286
Spain               2881
Sweden               753
Switzerland          308
United Kingdom      4917

#### 12. In what Countries are profits lowest? (Report lowest 5-10)

In [38]:
profits = sql.read_sql('SELECT orders."Country", OBD."Profit" \
FROM orders \
INNER JOIN OBD \
ON OBD."OrderID" = orders."OrderID"', con=db_connection)

profits.groupby('Country').sum().sort_values('Profit').reset_index()[5:11]

        Country   Profit
5       Finland   3908.0
6        Norway   5167.0
7   Switzerland   7234.0
8       Belgium   9912.0
9         Italy  15802.0
10      Austria  21332.0

#### 13. What Counties have the best and worst Sales to Profit Ratios?
(Total Sales divided by Total Profits.)
Essentially this is saying for every dollar of product sold, how much is profit.

In [42]:
sp_ratio = sql.read_sql('SElECT orders."Country", OBD."Sales", OBD."Profit" \
FROM orders \
INNER JOIN OBD \
ON OBD."OrderID" = orders."OrderID"', con=db_connection) 

sp_ratio2 = sp_ratio.groupby('Country').sum().sort_values('Profit')

sp_ratio2['SalesProfitRatio'] = sp_ratio2['Profit'] / sp_ratio2['Sales']

sp_ratio2.sort_values('SalesProfitRatio', ascending=False)

# Switzerland has the best, Portugal has the worst

                   Sales   Profit  SalesProfitRatio
Country
Switzerland      24874.0   7234.0          0.290826
Austria          79382.0  21332.0          0.268726
Norway           20529.0   5167.0          0.251693
Belgium          42320.0   9912.0          0.234216
United Kingdom  420497.0  90382.0          0.214941
Finland          20702.0   3908.0          0.188774
Spain           249402.0  47067.0          0.188719
Germany         488681.0  86279.0          0.176555
France          609683.0  70067.0          0.114924
Italy           252742.0  15802.0          0.062522
Ireland          15998.0  -6886.0         -0.430429
Denmark           7763.0  -3608.0         -0.464769
Netherlands      70313.0 -37188.0         -0.528892
Sweden           30490.0 -17524.0         -0.574746
Portugal         15106.0  -8704.0         -0.576195

#### 14. What Shipping method is most common for 'Bookcases' (Sub Category)?

In [48]:
sql.read_sql('SELECT orders."ShipMode", OBD."Sub-Category" \
FROM orders \
INNER JOIN OBD \
ON OBD."OrderID" = orders."OrderID" \
WHERE OBD."Sub-Category" = "Bookcases"', con=db_connection)['ShipMode'].value_counts()

# Economy

Economy         234
Economy Plus     76
Priority         59
Immediate        22
Name: ShipMode, dtype: int64

#### 15 .What city in the Orders table generated the highest net sales?  (List all the cities and countries in descending order by net sales.)

In [49]:
sql.read_sql('SELECT orders."City", orders."Country", OBD."Sales" \
FROM orders \
INNER JOIN OBD \
ON orders."OrderID" = OBD."OrderID"', \
             con=db_connection).groupby(['City', 'Country']).sum().sort_values('Sales', ascending=False)

# London, UK

                                          Sales
City                    Country
London                  United Kingdom  69230.0
Berlin                  Germany         52555.0
Vienna                  Austria         51844.0
Madrid                  Spain           44981.0
Paris                   France          42245.0
Rome                    Italy           28330.0
Barcelona               Spain           27405.0
Hamburg                 Germany         23574.0
Marseille               France          21677.0
Turin                   Italy           19829.0
Milan                   Italy           18837.0
Munich                  Germany         18429.0
Edinburgh               United Kingdom  18016.0
Stockholm               Sweden          17498.0
Bremen                  Germany         15342.0
Bochum                  Germany         15144.0
Valencia                Spain           14958.0
Frankfurt               Germany         14640.0
Lille                   France          14102.0
Cologne                 Germany         13301.0
Nice                    France          13229.0
Dortmund                Germany         12724.0
Leipzig                 Germany         12380.0
Leeds                   United Kingdom  11884.0
Toulouse                France          11565.0
Krefeld                 Germany         11410.0
Naples                  Italy           11388.0
Essen                   Germany         11211.0
Dublin                  Ireland         11071.0
Valladolid              Spain           10938.0
...                                         ...
Montigny-le-Bretonneux  France             36.0
Lagny-sur-Marne         France             35.0
Randers                 Denmark            34.0
Estepona                Spain              34.0
Torremolinos            Spain              33.0
Saint-Jean-de-la-Ruelle France             31.0
La Crau                 France             31.0
Castellammare di Stabia Italy              30.0
Odivelas                Portugal           29.0
Cluses                  France             28.0
Vigevano                Italy              28.0
Oss                     Netherlands        27.0
Morley                  United Kingdom     27.0
Givors                  France             26.0
Massa                   Italy              26.0
Falconara Marittima     Italy              26.0
Viroflay                France             26.0
Andria                  Italy              26.0
Manfredonia             Italy              25.0
Illkirch-Graffenstaden  France             24.0
Cestas                  France             23.0
Ragusa                  Italy              22.0
Battipaglia             Italy              22.0
Millau                  France             21.0
Leiden                  Netherlands        19.0
Friedberg               Germany            18.0
Sorgues                 France             14.0
Sète                    France             14.0
Aix-les-Bains           France             10.0
Osny                    France              5.0

[999 rows x 1 columns]

#### BONUS: Create a Column called 'Shipping Delay' on the 'orders' table, which is the difference in days between 'Order Date' and 'Ship Date'.

In [50]:
# Check datatypes
orders.dtypes

OrderID         object
OrderDate       object
CustomerName    object
City            object
Country         object
Region          object
Segment         object
ShipDate        object
ShipMode        object
State           object
dtype: object

In [52]:
# Convert datatype from string to datetime
orders['OrderDate'] = pd.to_datetime(orders['OrderDate'])
orders['ShipDate'] = pd.to_datetime(orders['ShipDate'])

In [53]:
# Re-check datatypes to confirm the conversion worked
orders.dtypes

OrderID                 object
OrderDate       datetime64[ns]
CustomerName            object
City                    object
Country                 object
Region                  object
Segment                 object
ShipDate        datetime64[ns]
ShipMode                object
State                   object
dtype: object

In [59]:
orders['ShippingDelay'] = (orders['ShipDate'] - orders['OrderDate']).astype('timedelta64[D]')
orders.head()

,OrderID,OrderDate,CustomerName,City,Country,Region,Segment,ShipDate,ShipMode,State,ShippingDelay
0,BN-2011-7407039,2011-01-01,Ruby Patel,Stockholm,Sweden,North,Home Office,2011-01-05,Economy Plus,Stockholm,4.0
1,AZ-2011-9050313,2011-01-03,Summer Hayward,Southport,United Kingdom,North,Consumer,2011-01-07,Economy,England,4.0
2,AZ-2011-6674300,2011-01-04,Devin Huddleston,Valence,France,Central,Consumer,2011-01-08,Economy,Auvergne-Rhône-Alpes,4.0
3,BN-2011-2819714,2011-01-04,Mary Parker,Birmingham,United Kingdom,North,Corporate,2011-01-09,Economy,England,5.0
4,AZ-2011-617423,2011-01-05,Daniel Burke,Echirolles,France,Central,Home Office,2011-01-07,Priority,Auvergne-Rhône-Alpes,2.0

#### BONUS: Update your Orders table in your Sqlite DB to include the 'Shipping Delay' feature.

In [60]:
orders.to_sql(name='orders', con=db_connection, if_exists='replace', index=False)

#### BONUS: Which Product Category has the highest average 'Shipping Delay'?

In [61]:
sql.read_sql('SELECT OBD."Category", orders."ShippingDelay" \
FROM OBD \
INNER JOIN orders \
ON orders."OrderID" = OBD."OrderID" \
', con=db_connection).groupby('Category').mean()

                 ShippingDelay
Category
Furniture             4.000000
Office Supplies       3.975028
Technology            4.125410

### Challenge problem:   
**In what months and Categories were Sales Targets Exceeded?**

---

This may require a considerable amount of data processing.

In [22]:
# A: